.Footer{
    display: flex;
    flex-wrap: wrap;

    height: 10rem;
    width: 100%;
    background-color: black;

}


.footercontacts , .contactno{
    display: flex;
    flex-flow: row;
    flex-direction: row;
    color: white;
    font-size: 2.5rem;
    flex-wrap: wrap;
    padding: 1rem;
    width: 50%;
}
.footercontacts>.footercontactsitem , .contactno>.contactnoItem{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 0.5rem;
    margin-right: 3rem;
}

.contactno{
   
    justify-content: flex-end;
  
}

 span{

    font-size: 1.5rem;
    
}
