.header{
    background: url(../images/homebg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height:500px ;
    width:100%;
    padding: 20px;
    text-align: center;
    color:white;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    margin: 0 auto;
}
.headerContent{
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    width: 60%;
    margin: 0 auto;
}
.headerContent h1{
  
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 4rem;

}

.latest-devices{

    background-color: bisque;
    height: 400px;
    background-size: cover;
    width:100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    margin: 0 auto;

    
}

.content-header {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.content-header h1{
    text-align: center;
    
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 4rem;
    


}

.latestcontent{

    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 40px;


}

.latestcontent-items{
     

    
    border-radius: 1rem;
    margin: 0 auto;
    width: 150px;
    height: 200px;
    box-shadow: 0 0 11px 2px grey;
    margin-bottom: 1rem;
    padding: 0.4rem;
    background-color: black;



}

.items-image>img{

    height: 150px;
    width: auto;
    
    
    


}


.items-content{

    color: white;
    padding: 10px;
}